/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.banner {
  background-color: #67EA94;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.banner span {
  flex: 1;              
  text-align: center;   
}

.closeButton {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}
